<template>
  <div id="app">
    <vue-headful
      :title="$t('meta.title')"
      :html="{ body: {id: $route.meta.id } }"
      :lang="$route.meta.lang"
    />
    <header role="banner" id="main-header">
      <h1 v-html="$t('meta.title')"></h1>
    </header>
    <router-view></router-view>
    <footer-component></footer-component>
  </div>
</template>

<script>
import FooterComponent from './components/partials/Footer.vue'
export default {
  name: 'app',
  components: {
    FooterComponent,
  }
}
</script>
