<template>
  <main class="container ombre">
    <vue-headful
      :title="$t('meta.title') + ' - ' + $t('home.title')"
    />
    <router-link :to="'/' + $t('lang') + '/'" class="btn btn-default">
      <i class="fa fa-lg fa-arrow-left" aria-hidden="true"></i>
      <span v-html="$t('txt.backHome')"></span>
    </router-link>
    <I18n />
    <div class="row">
      <div grid class="col-sm-8 col-sm-offset-4">
        <h1 v-html="$t('educ-pop.title')">educ-pop</h1>
        <h2 v-html="$t('educ-pop.intro.title')"></h2>
        <p
          v-for="(p, index) in $t('educ-pop.intro.text')"
          v-html="$t('educ-pop.intro.text[' + index + ']')">
        </p>
      </div>
    </div>
    <section class="row" v-for="(section, key) in $t('educ-pop.sections')">
      <div  class="col-sm-4 text-center">
        <img :src="`${$root['/']}img/educ-pop-${key}.jpg`" alt="">
      </div>
      <div class="col-sm-8">
        <h3 v-html="$t('educ-pop.sections.' + key + '.title')"></h3>
        <p
          v-for="(p, index) in $t('educ-pop.sections.' + key + '.text')"
          v-html="$t('educ-pop.sections.' + key + '.text[' + index + ']')">
        </p>
      </div>
    </section>
    <Signature />
  </main>
</template>

<script>
import I18n from '../partials/I18n.vue'
import Signature from '../partials/Signature.vue'
export default {
  components: {
    I18n, Signature,
  },
  data() {
    return {
      data: this.$i18n.messages.data,
    }
  },
}
</script>
