<template>
  <main class="container ombre">
    <vue-headful
      :title="$t('meta.title') + ' - ' + $t('home.title')"
    />
    <I18n />
    <h2 v-html="$t('home.intro.title')"></h2>
    <p
      v-for="(p, index) in $t('home.intro.text')"
      v-html="$t('home.intro.text[' + index + ']')">
    </p>
    <p>
      <a class="btn btn-default"
        href="https://framablog.org/2017/10/09/contributopia-degoogliser-ne-suffit-pas/"
        v-html="$t('txt.more')"></a>
    </p>

    <section class="row" v-for="section in ['services', 'essaimage', 'educ-pop']">
      <div  class="col-sm-4 text-center">
        <router-link :to="'/' + $t('lang') + '/' + section" aria-hidden="true">
          <img :src="`${$root['/']}img/menu-${section}.png`" alt="" />
        </router-link>
      </div>
      <div class="col-sm-8">
        <h3 v-html="$t('home.' + section + '.title')"></h3>
        <p
          v-for="(p, index) in $t('home.' + section + '.text')"
          v-html="$t('home.' + section + '.text[' + index + ']')">
        </p>
        <p>
          <router-link
            :to="'/' + $t('lang') + '/' + section"
            class="btn btn-default"
            v-html="$t('txt.more')">
          </router-link>
        </p>
      </div>
    </section>
    <Signature />
  </main>
</template>

<script>
import I18n from '../partials/I18n.vue'
import Signature from '../partials/Signature.vue'
export default {
  components: {
    I18n, Signature,
  },
}
</script>
