<template>
  <footer id="footer" class="hidden-print">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <div class="row menu" v-if="$route.meta.id !== 'home'">
            <h2 v-html="$t('footer.explore.title')"></h2>
            <div class="col-sm-4 text-center">
              <p aria-hidden="true">
                <router-link
                  :to="'/' + $t('lang') + '/'">
                  <img class="img-responsive" alt="" :src="`${$root['/']}img/menu-home.png`">
                </router-link>
              </p>
              <p>
                <router-link class="btn btn-lg btn-default"
                  :to="'/' + $t('lang') + '/'"
                  v-html="$t('home.title')">
                </router-link>
              </p>
            </div>
            <div class="col-sm-4 text-center"
              v-for="section in ['services', 'essaimage', 'educ-pop']"
              v-show="$route.meta.id !== section">
              <p aria-hidden="true">
                <router-link
                  :to="'/' + $t('lang') + '/' + section">
                  <img class="img-responsive" alt=""
                    :src="`${$root['/']}img/menu-${section}.png`">
                </router-link>
              </p>
              <p>
                <router-link class="btn btn-lg btn-default"
                  :to="'/' + $t('lang') + '/' + section"
                  v-html="$t(section + '.title')">
                </router-link>
              </p>
            </div>
          </div>

          <div class="row soutenir" v-else>
            <div class="col-sm-6">
              <h2 v-html="$t('footer.contact.title')"></h2>
              <p
                v-for="(p, index) in $t('footer.contact.text')"
                v-html="$t('footer.contact.text[' + index + ']')"></p>
              <p class="clearfix">
                <a :href="$root.link.contact" class="btn btn-default col-sm-6 col-sm-offset-3 col-xs-12">
                  <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                  <span v-html="$t('footer.contact.btn')"></span>
                </a>
              </p>
            </div>
            <div class="col-sm-6">
              <h2 v-html="$t('footer.soutenir.title')"></h2>
              <p
                v-for="(p, index) in $t('footer.soutenir.text')"
                v-html="$t('footer.soutenir.text[' + index + ']')"></p>
              <p class="clearfix">
                <a class="btn btn-soutenir col-sm-6 col-sm-offset-3 col-xs-12" :href="$root.link.soutenir">
                  <i class="fa fa-w fa-heart" aria-hidden="true"></i>
                  <span v-html="$t('footer.soutenir.btn')"></span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
