<template>
  <p class="signature text-right small" style="margin-right:20px">
    <span v-html="$t('meta.start')"></span> <span v-html="$root.meta.start"></span><br>
    <span v-html="$t('meta.edit')"></span> <span v-html="$root.meta.edit"></span><br>
    <span v-html="$t('txt.pics')"></span> <a href="http://www.davidrevoy.com">David Revoy</a>
     - <span v-html="$t('txt.license')"></span> <span v-html="$root.license.ccby4"></span>
  </p>
</template>
